* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
}

/* Main */
.main {
  width: 1000px;
  margin: 0 auto;
}

/* Section Search */
.search-form {
  width: 650px;
  margin: 30px auto 0 auto;
  text-align: center;
}

.search-form {
  transition: margin-top 1.1s ease;
}

.search-form > .title {
  text-align: center;
}

.search {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px 16px;
  margin: 30px 0;
}

.search {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #555;
}

.btn {
  width: 100px;
  height: 30px;
  padding: 5px;
}

.btn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e2e2e2;
}

/* Section Total result */
.search-result-total {
  margin: 30px 0 20px 0;
  line-height: 2.5;
  border-bottom: 1px solid #ccc;
}

/* TODO: Utilities */
.hide {
  display: none !important;
}

.start-position {
  margin-top: 150px;
}
