.middle {
  margin-top: 300px;
}

.container-search {
  transition: margin-top 1.1s ease;
}

.searching {
  opacity: 0.3 !important;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #000;
}
